{% extends "../base.html" %}


{% block header %}
{% include '../home/header_inside.html' %}
{% end %}

{% block javascript %}

<script type="text/javascript">

    //Expresión para validar un correo electrónico
        var expr = /^[a-zA-Z0-9_\.\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-\.]+$/;
        //Expresión para validar edad de 18 a 60 años
        var expr2 = /^1[8-9]|[2-5]\d|60$/;
        $(document).ready(function(){
            //función click
            $("#bEnviar").click(function(){

                //Guardar en variables el valor que tengan las cajas de texto
                //Por medio de los id's
                //Y tener mejor manipulación de dichos valores
                var nombre = $("#itNombre").val();
                var correo = $("#itMail").val();
                var asunto = $("#itComentario").val();

                var error_count = 0;
 
                // --- Condicionales anidados ----
                //Si nombre está vacío
                //Muestra el mensaje
                //Con false sale de los if's y espera a que sea pulsado de nuevo el botón de enviar
                if(nombre == ""){
                    $("#itNombre").parents(".form-group").addClass("has-error");
                    $(".help-nombre").removeClass('hidden');
                    error_count += 1;
                }
                //en otro caso, el mensaje no se muestra
                else{
                    $("#itNombre").parents(".form-group").removeClass("has-error");
                    $(".help-nombre").addClass('hidden');
                }

                //Si correo está vacío y la expresión NO corresponde -test es función de JQuery
                //Muestra el mensaje
                //Con false sale de los if's y espera a que sea pulsado de nuevo el botón de enviar
                if(correo == "" || !expr.test(correo)){
                    $("#itMail").parents(".form-group").addClass("has-error");
                    $(".help-mail").removeClass('hidden');
                    error_count += 1;
                }
                else
                {
                    $("#itMail").parents(".form-group").removeClass("has-error");
                    $(".help-mail").addClass('hidden');
                }


                if(asunto == ""){
                    $("#itComentario").parents(".form-group").addClass("has-error");
                    $(".help-comentario").removeClass('hidden');
                    error_count += 1;
                }
                else
                {
                    $("#itComentario").parents(".form-group").removeClass("has-error");
                    $(".help-comentario").addClass('hidden');
                }

                if (error_count > 0)
                {
                    return false;
                }
 
            });//click
        });//ready
</script>
{% end %}

{% block css %}
<link type="text/css" rel='stylesheet' href="{{ site_base }}/static/css/page.edit.css" />
<style type="text/css">
    .controls input, .controls textarea
    {
        padding: 10px 16px;
    }
</style>
{% end %}


{% block body %}
{% if is_admin %}
    {% set editabletext = 'editabletext' %}
{% else %}
    {% set editabletext = '' %}
{% end %}

<div class="background-content">
<div class="col-sm-12" style="padding-left: 0px;">
	<!-- <img class="fondo-form"src="https://7static.loadingplay.com/static/images/a9638bcba8ce78ab5a8b3564617b6917_Banner_principal_2.png"> -->
	<!-- editar imagen -->
    {% if is_admin %}
    <div class="image-upload lapiz visible-movil">
        <label for="img_banner_contact2">
            <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
        </label>
        <input type="file" class="editableimage" image-id="{{ site.name }}_banner_contact2" name="image" id="img_banner_contact2" >
        </div>
        {% end %}
    	<img id="{{ site.name }}_banner_contact2" src="{{ read_image(site.name + '_banner_contact2', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_contact2',500) }}'" class="fondo-form" alt="item">
    <!-- fin editar imagen -->
    
	 <div class="container" >
       <div class="row">
       		<div class="col-sm-12">
	            <!-- <h3 class="description distrib" style="text-align:center;"> Sé un distribuidor </h3> -->
                {% if is_admin %}
                <h3 class="description distrib contact" style="text-align:center;"><span class="editabletext" text-id="{{ site.name + '_texto-contact2' }}" >{{ read_text(site.name + '_texto-contact2') }}</span></h3>
                {% else %}
                <h3 class="description distrib contact" style="text-align:center;"> {{ read_text(site.name + '_texto-contact2') }} </h3>
                {% end %}
	            <!-- <p class="description descrip-Form" style="text-align:center;font-style:italic" > 
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            consequat. </p>  -->
	            {% if is_admin %}
                <p class="description descrip-Form contact" style="text-align:center;font-style:italic"><span class="editabletext" text-id="{{ site.name + '_texto-descrip2' }}" >{{ read_text(site.name + '_texto-descrip2') }}</span></p>
                {% else %}
                <p class="description descrip-Form contact" style="text-align:center;font-style:italic"> {{ read_text(site.name + '_texto-descrip2') }} </p>
                {% end %}
	           
	            <!-- <div class="">Descargar Brochure</div> -->
	            <!-- <button type="button" class="btn btn-default btn-lg disabled download center-block" style="text-align:center;">Descargar Brochure</button> -->
       		</div>
       </div>
    </div>
</div>
<div class="container fondo-contact" >
       <div class="row">
       		<div class="col-sm-12">
	            <!-- <h2 class="descrip-descar">Descarga nuestro brochure para enterarse de todas las posibilidades de distribucion de nuestros productos y si esta interesado, puedes escribirnos para coordinar una reunion</h2>
	            {% if is_admin %} -->
                <h2 class="descrip-descar"><span class="editabletext" text-id="{{ site.name + '_texto-descarg' }}" >{{ read_text(site.name + '_texto-descarg') }}</span></h2>
                {% else %}
                <h2> {{ read_text(site.name + '_texto-descarg') }} </h2>
                {% end %}
       		</div>
       </div>
    </div>
<!-- <div class="header-contact"></div> -->
   <!-- <div class="container-fluid title text-left container-fluid-magle" style="display: inherit;">
				<div class="row">
					<div class="col-sm-12">
						<h2>{% if is_admin %}
                <span class="editabletext" text-id="{{ site.name + site_base }}" >{{ read_text(site.name + '_tit') }}</span>
                {% else %}
                {{ read_text(site.name + '_tit') }}
                {% end %}</h2>
					</div>
				</div>
			</div> -->
			
			<div class="container-fluid contact product text-left container-fluid-magle" style="display: inherit;">
				<div class="row">		
					<!-- <div class="col-xs-12 col-sm-4">
						<address>
							<br>
							<strong>
							{% if is_admin %}
			                	<span class="editabletext" text-id="{{ site.name + '_name' }}" >{{ read_text(site.name + '_name') }}</span>
			                {% else %}
			                	{{ read_text(site.name + '_name') }}
			                {% end %}
			                </strong><br>
							{% if is_admin %}
			                	<span class="editabletext" text-id="{{ site.name + '_address' }}" >{{ read_text(site.name + '_address') }}</span>
			                {% else %}
			                	{{ read_text(site.name + '_address') }}
			                {% end %}
			                <br>
							{% if is_admin %}
			                	<span class="editabletext" text-id="{{ site.name + '_city' }}" >{{ read_text(site.name + '_city') }}</span>
			                {% else %}
			                	{{ read_text(site.name + '_city') }}
			                {% end %}<br>
							{% if is_admin %}
			                	<span class="editabletext" text-id="{{ site.name + '_phone' }}" >{{ read_text(site.name + '_phone') }}</span>
			                {% else %}
			                	{{ read_text(site.name + '_phone') }}
			                {% end %}<br>
							{% if is_admin %}
			                	<span class="editabletext" text-id="{{ site.name + '_email' }}" >{{ read_text(site.name + '_email') }}</span>
			                {% else %}
			                	{{ read_text(site.name + '_email') }}
			                {% end %}<br>
						</address>
					</div> -->
					<div class="container">
                    <div class="col-xs-12 col-sm-8 align-form-contact fondo-contact">
<!-- 						<form action="{{ site_base }}/contact" class="contact-add-form" method="post" novalidate id="newsletter">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class=" controls">
                                        <input name="name" placeholder="Tu nombre" class="form-control input-lg requiredField" required type="email" >
                                        <div id="error_contact_name" for="name" class="error g-alert" >Ingrese su nombre</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class=" controls">
                                        <input name="email" placeholder="Tu correo" class="form-control input-lg requiredField" required type="email" >
                                        <div id="error_contact_email" for="email" class="error g-alert" >Ingrese su e-mail</div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="controls">
                                        <textarea name="message" required placeholder="Escribe aquí tu mensaje" class="form-control input-lg requiredField" rows="5" data-error-empty="Enter message"></textarea>
                                        <div id="error_contact_message" for="message" class="error g-alert" >Su mensaje no puede estar vacío</div>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <button name="submit" type="submit" class="btn btn-store btn-block btn-contact-submit" disabled>Enviar correo</button>
                            </p>
                        </form> -->
                        <div>
						<form action="{{ site_base }}/contact" class="contact-add-form"  method="post" novalidate id="newsletter">
							<div class="row clearfix">
								<div class="col-xs-12 col-sm-12">
								<div class="form-group">
										<label class="control-label"></label>
										<div class=" controls">
                                            <input name="name" placeholder="Nombre y apellido" class="form-control input-lg requiredField" type="text" id="itNombre" data-error-invalid="Invalid email address" data-error-empty="Ingrese nombre">
                                        </div>
                                        <span id="helpBlock2" class="hidden help-block help-nombre">Escribe tu nombre</span>
									</div>
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        <div class=" controls">
                                            <input name="email" placeholder="Email" class="form-control input-lg requiredField" type="email" id="itMail" data-error-invalid="Invalid email address" data-error-empty="Ingrese email">
                                            <input type="hidden" name="subject" value="contactanos" />
                                        </div>
                                        <span id="helpBlock3" class="hidden help-block help-mail">Escribe tu Email</span>
                                    </div>
                                </div>
                            </div>
							<div class="form-group">
								<label class="control-label"></label>
								<div class="controls">
                                    <textarea name="message" placeholder="Comentario" class="form-control input-lg requiredField" id="itComentario" rows="5" data-error-empty="Ingrese mensaje"></textarea>
                                </div>
                                <span id="helpBlock4" class="hidden help-block help-comentario">Escribe tu Comentario</span>
							</div>
							<p><button name="submit" id="bEnviar" type="submit" class="btn btn-store btn-block " data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Email Sent">Enviar </button></p>
							<input type="hidden" name="submitted" id="submitted3" value="true">
						</form>	
					    </div>		
				
				    </div>

                </div>
                </div>
            </div>	
	</div>
{% include '../home/footer.html' %}
			
{% end %}
