{% extends "../base.html" %}

{% block title %}
{{ site.name }}
{% end %}

{% block header %}
{% include '../home/header_inside.html' %}
{% end %}

{% block javascript %}

{% end %}

{% block body %}

<div class="col-sm-12">
	<img class="fondo-form"src="https://7static.loadingplay.com/static/images/a9638bcba8ce78ab5a8b3564617b6917_Banner_principal_2.png">
	 <div class="container" >
       <div class="row">
       		<div class="col-sm-12">
	            <h3 class="description distrib" style="text-align:center;"> Se un distribuidor </h3> 
	            <p class="description" style="text-align:center;" > 
	            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            consequat. </p>
	            <!-- <div class="">Descargar Brochure</div> -->
	            <button type="button" class="btn btn-default btn-lg disabled download center-block" style="text-align:center;">Descargar Brochure</button>
       		</div>
       </div>
    </div>
</div>
<div class="container" >
       <div class="row">
       		<div class="col-sm-12">
	            <h2 class="descrip-descar">Descarga nuestro brochure para enterarse de todas las posibilidades de distribucion de nuestros productos y si esta interesado, puedes escribirnos para coordinar una reunion</h2>
       		</div>
       </div>
    </div>







{% end %}