{% extends "../base.html" %}
{% block title %}
    {{ site.name }}
{% end %}
{% block scripts %}
    <script type="text/javascript" src="{{ site_base }}/static/js/plugins/jquery.lazyload.js"></script>
    <script type="text/javascript" src="{{ site_base }}/static/js/imageloader.js" ></script>
{% end %}
{% block css %}
<style type="text/css" href='{{ site_base }}/static/css/event.css' rel='stylesheet' ></style>
{% end %}
{% block header %}
{% include '../home/inside_header.html' %}
{% end %}
{% block body %}
    <div id="wrap">
        <!-- registration -->
        <div class="container-fluid-art cart-list productlist">
            <div class="row">
                <div class="col-sm-12 blog-content">
                    <article>
                        <header>
                            <h1 class="h1-art">
                                {{ event["title"] }}
                            </h1>
                            <div class="post-date" style="text-align:left;">
                                {{ event["creation_date"].strftime("%d %b %Y") }}
                            </div>
                        </header>
                        
                        <div class="content articulo-text" style="text-align:left;">
                            <div class="col-sm-8 content-picture">
                                <img src="{{ site_base }}/static/img/0013.png" class="img-responsive lazy" data-original="{{ event["url"] }}" alt="item">
                            </div>
                            <div class="col-sm-4 especial">
                                <h2 class="h2-event">{{ event["begin"].strftime("%d") }}</h2>
                                <h2 class="h2-event-mm">{{ event["begin"].strftime("%b") }}</h2>
                            </div>
                            <div class="col-sm-12 especial">
                                <p style="float:right;">
                                    {{ event["description"] }}
                                </p>
                            </div>
                            <div class="col-sm-12 especial">
                                <a href="#!" style="float: right;"> Ver mas...</a>
                            </div>
                            <p class="col-sm-12">
                                <button name="submit" type="submit" class="btn btn-store btn-block">        PARTICIPAR
                                </button>
                            </p>
                            <!-- formulario -->
                            <!-- <div class="col-sm-12" style=" background-color: rgb(241, 239, 239);">
                                <img src="{{ site_base }}/static/img/0050.png" class="img-responsive" alt="item" style="padding:40px 0px ; margin: 0 auto;">
                            </div> -->
                            
                            <div class="post-date col-sm-12">
                                tags | <a>{{ "</a> , <a>".join(event["tags"]) }}</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-3 blog-sidebar">
                    <div class="widget" style="text-align:left;">
                    </div>
                </div>
            </div>
            <article>
                <header>
                    <h1 style="text-align:left;">Contenido relacionados</h1>
                </header>
            </article>
            {{ content }}
        </div>
        <div class="carritoproductos clearfix">
            <div class="flecha clearfix">
            </div>
        </div>
    </div>
{% end %}