 <footer class="footer-home">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back">
           <div class="container">
            <div class="col-md-5">
                <div class="col-md-4 col-xs-12 text-center">
                    <img class="tika-logo" src="https://7static.loadingplay.com/static/images/78562c3e6cb2afdaf23054c61683dfb2_Tika_icon.png">
                </div>
                <div class="col-md-4 col-xs-12 text-center">
                    <div class="col-md-6 col-xs-6 ">
                    <a href="{{ get_config("instagram") }}"> <img class="sociales pull-right"src="https://84static.loadingplay.com/static/images/a4895a2f2337af051356291f722c1f68_instagram.png"> </a>
                    </div>
                    <div class="col-md-6 col-xs-6 ">
                    <a href="{{ get_config("facebook") }}"> <img class="sociales pull-left" src="https://7static.loadingplay.com/static/images/4df0b24d8efd1543103cd9f608d51749_facebook.png"> </a>
                    </div>
                </div>

            </div>
           
      <div align="center">
            <div class="col-md-2 col-xs-10">
                <div class="text-center text-list">
                    <ul class="no-dot">
                        <li><a href="{{ site_base }}/productos" class="link-footer {{editabletext}}" text-id="{{ site.name + '_footer_6' }}"> {{ read_text(site.name +  '_footer_6') }}
                        </a></li> 
                        <li> <a href="{{ site_base }}/donde_comprar" class="link-footer">Dónde Comprar</a></li> 
                        <li><a href="{{ site_base }}/nuestra_historia" class="link-footer"> Nuestra Historia</a></li> 
                        <li> <a href="{{ site_base }}/recetas" class="link-footer"> ReceTika </a></li> 
                        <li> <a href="{{ site_base }}/contact" class="link-footer {{editabletext}}" text-id="{{ site.name + '_footer_7' }}"> {{ read_text(site.name +  '_footer_7') }}</a></li> 
                        <!-- <li class="designed"> <a href="https://www.loadingplay.com/" class="link-footer">Design by Loadingplay</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-12 text-center farm2" style="height: 100px;">
                    <img class="tika-logo-farm" src="https://7static.loadingplay.com/static/images/d8c078c52a87e46016c6112af000fdef_Logo_Ze_Farms.png">
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="inform-comerc text-right">
                    <ul class="no-dot dott">
                        <li class=" {{editabletext}}" text-id="{{ site.name + '_footer_1' }}"> {{ read_text(site.name +  '_footer_1') }}
                        </li>
                        <li class=" {{editabletext}}" text-id="{{ site.name + '_footer_2' }}"> {{ read_text(site.name +  '_footer_2') }}
                        </li>
                        <li class=" {{editabletext}}" text-id="{{ site.name + '_footer_3' }}"> {{ read_text(site.name +  '_footer_3') }}
                        </li>
                        <li class=" {{editabletext}}" text-id="{{ site.name + '_footer_4' }}"> {{ read_text(site.name +  '_footer_4') }}
                        </li>
                        <li class=" {{editabletext}}" text-id="{{ site.name + '_footer_5' }}"> {{ read_text(site.name +  '_footer_5') }}
                        </li>
                        <li class="designed"> <a href="https://www.loadingplay.com/" class="link-footer">Design by Loadingplay</a></li>
                    </ul>
                  </div>
            </div>
       
       </div>

        </div>

        </div>
        
</footer>
