
<div class="top_wrapper">
      <div class="fondoo_inside">
      <div class="head-container">
         <div class="container"> 
          <div class="row linea">
            <div class="logo_wrapper col-md-3 col-sm-4 col-xs-12">
                    <a href="{{ site_base }}">
                    <img class="tikaa" src="https://7static.loadingplay.com/static/images/78562c3e6cb2afdaf23054c61683dfb2_Tika_icon.png">
                    </a>
            </div>
            <div class="menu_wrapper men-t col-md-9 col-sm-8 col-xs-12">
                <div class="row">
                    <nav class="navbar navbar-default navbar-transparent">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse opac" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-left nav-header-li-hover gran2" style="letter-spacing: -1px;">                               
                                <li>
                                    <a href="{{ site_base }}/nuestra_historia" class="colorr">NUESTRA HISTORIA</a>
                                </li>
                                <!-- <li>
                                    <a href="{{ site_base }}/productos" class="colorr">PRODUCTOS</a>
                                </li> -->
                                <li class="dropdown">
                                    <a href="{{ site_base }}/productos" class="colorr" data-toggle="dropdown" class="dropdown-toggle"  >PRODUCTOS <b class="caret"></b>
                                    </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ site_base }}/productos#tika_chip">Tika Chips</a></li>
                                            <li><a href="{{ site_base }}/productos#tika_stixs">Tika Stixs</a></li>
                                            <li><a href="{{ site_base }}/productos#tika_tortikas">Tortika Chips</a></li>
                                            <li><a href="{{ site_base }}/productos#tika_crackers">Tika Crackers</a></li>
                                            <li><a href="{{ site_base }}/productos#tika_nuts">Tika Nuts</a></li>
                                            <li><a href="{{ site_base }}/productos#tika_veggies">Tika Veggies</a></li>
                                            <li><a href="{{ site_base }}/productos">Ver todo</a></li>
                                        </ul>
                                </li>
                                <li>
                                    <a href="{{ site_base }}/donde_comprar" class="colorr"> DONDE COMPRAR</a>
                                </li>
                                <li><a href="{{ site_base }}/tika_en_el_mundo" class="colorr"> TIKA EN EL MUNDO</a></li>
                               <!--  <li>
                                    <a href="{{ site_base }}/recetas" class="colorr">RECETIKAS</a>
                                </li> -->
                                <li class="dropdown">
                                    <a href="{{ site_base }}/recetas" class="colorr" data-toggle="dropdown" class="dropdown-toggle"  >RECETIKAS <b class="caret"></b>
                                    </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ site_base }}/recetas#recetas_dips">Recetas de Dips</a></li>
                                            <li>
                                            <li><a href="{{ site_base }}/recetas#recetas_mastikas">Recetas de MasTika</a></li>
                                            <li><a href="{{ site_base }}/
                                            recetas#recetas_nuts">Recetas de Nuts</a></li>
                                            <li><a href="{{ site_base }}/recetas#otras_recetas">Otras Recetas</a></li>
                                            <li><a href="{{ site_base }}/recetas">Ver todo</a></li>
                                        </ul>
                                </li>
                                <li>
                                    <a href="http://tikachile.blogspot.cl/" target="_blank"  class="colorr"> BLOG </a>
                                </li>
                                <li class="dropdown">
                                    <a href="{{ site_base }}/" class="colorr" data-toggle="dropdown" class="dropdown-toggle"  >IDIOMAS <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="http://es.tikachips.com/">Español</a></li>
                                        <li><a href="http://en.tikachips.com">Inglés</a></li>
                                        <li><a href="http://fr.tikachips.com">Francés</a></li>
                                        <li><a href="http://pt.tikachips.com/">Portugués</a></li>
                                    </ul>

                                </li>
                            </ul>
                            </div>
                        </nav>
                    </div>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
