<!-- footer -->
<footer class="space40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ site_base }}/static/img/LOGO-.png" class="space10">
                <p class="small">Todos los derechos reservados</p>
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <p class="small">Terminos y condiciones de venta  I  Politica de devoluciones  I  FAQ  I  Contacto  I  Venta empresa</p>
            </div>
        </div>
    </div>
    
</footer>