{% if tag==False %}
<!-- log in - register -->
<div id="mlb-register-wrapper" class="descripcion_wrapper" style="display: none;">
    <div class="descripcion_cerrar">
        <button id="mlb-close-register" style="font-size: 35px; color:gray !important"><i class="icon-remove"></i></button>
    </div>
    <div class="col-xs-10 col-md-6 mlb-register-content col-md-offset-3 col-xs-offset-1">
        <div class="col-sm-12 especial bg-black-magle">
            <img src="{{ site_base }}/static/img/mlb_logo_b.jpg" style="max-height: 50px; max-width: 100%">
        </div>
        <div class="g-header-form">
            <div class="mlb-header-button mlb-header-button-active">
                <h2 style="cursor: pointer;" >sign in</h2>
            </div>
            <div class="mlb-header-button">
                <h2 style="cursor: pointer;" >register</h2>
            </div>
        </div>
        <div class="col-sm-6 especial">
            <div class="col-sm-12 info-product" style="padding: 0px 30px; height: auto; margin-bottom: 40px">
                <div class="form-group required" >
                    <input name="title" id="article_title_field" placeholder="Email Address" class="form-control" type="text">
                </div>
                <div class="form-group required">
                    <input name="title" id="article_title_field" placeholder="Password" class="form-control" type="text">
                </div>
                <button type="button" class="btn add-to-cart" product-id="7" style="float: right; margin: 20px 0px 0px 0px ">sign in</button>
            </div>
        </div>
        <div class="col-sm-6 especial">
            <div class="col-sm-12 " style="padding: 0px 30px;">
                <a href=""><img class=""src="{{ site_base }}/static/img/facebook.png" style="width: 130px;" ></a>
                <label class="control-label" style="width: 100%; text-align: center; color: gray;">sign in with facebook</label>
            </div>
        </div>        
    </div>
    
</div>



<!-- log in - register -->


<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            {% if is_admin %}
                <!-- banner 1 -->
                <div class="image-upload">
                <!-- id input debe ir en for de label -->
                    <label for="img_banner_1">
                        <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="mlb_banner_1" name="image" id="img_banner_1" >
                </div>
                <!-- banner 2 -->
                <div class="image-upload">
                <!-- id input debe ir en for de label -->
                    <label for="img_banner_1a">
                        <img class="change-image hide-show" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="mlb_banner_1a" name="image" id="img_banner_1a" >
                </div>
            {% end %} 
            <img id="mlb_banner_1" class="img-responsive show-hide" src="{{ site_base }}/static/img/loading.gif" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_1') }}'" /> <!---->
            <img id="mlb_banner_1a" class="img-responsive hide-show" src="{{ site_base }}/static/img/loading.gif" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_1a') }}'" />
          
            <div class="info-product banner-principal">
                <h2>
                {% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner1_tit' }}" >{{ read_text('mlb_banner1_tit') }}</span>
                {% else %}
                {{ read_text('mlb_banner1_tit') }}
                {% end %}</h2>
                <i>_______________________________</i>
                <p>
                {% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner1_desc' }}" >{{ read_text('mlb_banner1_desc') }}</span>
                {% else %}
                {{ read_text('mlb_banner1_desc') }}
                {% end %}
                </p>
                <a href="{{ site_base }}?tag=cojines"><button type="button" class="btn">conocer</button></a>
            </div>
        </div>
        <div class="swiper-slide">
            {% if is_admin %}
            <!-- banner 1 -->
            <div class="image-upload">
                <!-- id input debe ir en for de label -->
                <label for="img_banner_9">
                <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_9" name="image" id="img_banner_9" >
            </div>
            <!-- banner 2 -->
            <div class="image-upload">
                <!-- id input debe ir en for de label -->
                <label for="img_banner_9a">
                    <img class="change-image hide-show" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_9a" name="image" id="img_banner_9a" >
            </div>
            {% end %}
            <img id="mlb_banner_9" class="img-responsive show-hide" src="{{ site_base }}/static/img/loading.gif" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_9') }}'" />
            <img id="mlb_banner_9a" class="img-responsive hide-show" src="{{ site_base }}/static/img/loading.gif" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_9a') }}'"/>
              
  <!--           <img class="img-responsive show-hide" src="{{ site_base }}/static/img/mlb_009.png">
            <img class="img-responsive hide-show" src="{{ site_base }}/static/img/mlb_009a.png"> -->
            <div class="info-product banner-principal banner-principal-product">
                <h2>
                {% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner9_tit' }}" >{{ read_text('mlb_banner9_tit') }}</span>
                {% else %}
                {{ read_text('mlb_banner9_tit') }}
                {% end %}
                </h2>
                <i>_______________________________</i>
                <p>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner9_desc' }}" >{{ read_text('mlb_banner9_desc') }}</span>
                {% else %}
                {{ read_text('mlb_banner9_desc') }}
                {% end %}
                </p>
                <!-- <h1>$ 9.000</h1> -->
                <a href="{{ site_base }}?tag=pieceras"><button type="button" class="btn">conocer</button></a>
            </div>
        </div>
        <div class="swiper-slide">
            {% if is_admin %}
            <!-- banner 1 -->
            <div class="image-upload">
                <!-- id input debe ir en for de label -->
                <label for="img_banner_10">
                <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_10" name="image" id="img_banner_10" >
            </div>
            <!-- banner 2 -->
            <div class="image-upload">
                <!-- id input debe ir en for de label -->
                <label for="img_banner_10a">
                    <img class="change-image hide-show" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_10a" name="image" id="img_banner_10a" >
            </div>
            {% end %}
            <img id="mlb_banner_10" class="img-responsive show-hide" src="{{ site_base }}/static/img/loading.gif" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_10') }}'" />
            <img id="mlb_banner_10a" class="img-responsive hide-show" src="{{ site_base }}/static/img/loading.gif" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_10a') }}'"/>
             

<!--             <img class="img-responsive show-hide" src="{{ site_base }}/static/img/mlb_010.png">
            <img class="img-responsive hide-show" src="{{ site_base }}/static/img/mlb_010a.png"> -->
            <div class="info-product banner-secundario">
                <h2>
                {% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner10_tit' }}" >{{ read_text('mlb_banner10_tit') }}</span>
                {% else %}
                {{ read_text('mlb_banner10_tit') }}
                {% end %}
                </h2>
                <i>_______________________________</i>
                <p>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner10_desc' }}" >{{ read_text('mlb_banner10_desc') }}</span>
                {% else %}
                {{ read_text('mlb_banner10_desc') }}
                {% end %}</p>
                <button type="button" class="btn add-to-cart" product-id="7">conocer</button>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<!-- content fake -->
<!-- row momentanea -->
<div class="row cat-index">
    <div class="col-sm-4 especial"style="height: 515px;">
        <!-- <a href=""> -->
            {% if is_admin %}
            <div class="image-upload">
                <label for="img_banner_2">
                <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_2" name="image" id="img_banner_2" >
            </div>
            {% end %}
            <img id="mlb_banner_2" src="{{ site_base }}/static/img/loading.gif" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_2') }}'"class="img-responsive" alt="item" style="height: 100%;">
            <div class="info-product">
                <h2>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner2_tit' }}" >{{ read_text('mlb_banner2_tit') }}</span>
                {% else %}
                {{ read_text('mlb_banner2_tit') }}
                {% end %}</h2>
                <i>_______________________________</i>
                <p>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner2_desc' }}" >{{ read_text('mlb_banner2_desc') }}</span>
                {% else %}
                {{ read_text('mlb_banner2_desc') }}
                {% end %}</p>
                <!-- <h1>$ 9.000</h1> -->
                <a href="{{ site_base }}?tag=fusion"><button type="button" class="btn">conocer</button></a>
            </div>
        <!-- </a> -->
    </div>
    <div class="col-sm-4 especial" style="height: 515px;">
        <!-- <a href=""> -->
            {% if is_admin %}
            <div class="image-upload">
                <label for="img_banner_3">
                <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_3" name="image" id="img_banner_3" >
            </div>
            {% end %}
            <img id="mlb_banner_3" src="{{ site_base }}/static/img/loading.gif" onload="this.onload='';this.src='{{ read_image(site.name + '_banner_3') }}'" class="img-responsive" alt="item" style="height: 100%;">
            <!-- <img src="{{ site_base }}/static/img/mlb_003.png" class="img-responsive" alt="item"> -->
            <div class="info-article">
                <h2>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner3_tit' }}" >{{ read_text('mlb_banner3_tit') }}</span>
                {% else %}
                {{ read_text('mlb_banner3_tit') }}
                {% end %}</h2>
                <p>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner3_desc' }}" >{{ read_text('mlb_banner3_desc') }}</span>
                {% else %}
                {{ read_text('mlb_banner3_desc') }}
                {% end %}</p>
                <a href="{{ site_base }}?tag=urbano"><button type="button" class="btn">conocer</button></a>
            </div>
        <!-- </a> -->
    </div>
    <div class="col-sm-4 especial" style="height: 515px;">
        <!-- <a href=""> -->
            {% if is_admin %}
            <div class="image-upload">
                <label for="img_banner_4">
                <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_4" name="image" id="img_banner_4" >
            </div>
            {% end %}
            <img id="mlb_banner_4" src="{{ read_image(site.name + '_banner_4') }}" class="img-responsive" alt="item" style="height: 100%;">
            <!-- <img src="{{ site_base }}/static/img/mlb_004.png" class="img-responsive" alt="item"> -->
            <div class="info-product color-white">
                <h2>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner4_tit' }}" >{{ read_text('mlb_banner4_tit') }}</span>
                {% else %}
                {{ read_text('mlb_banner4_tit') }}
                {% end %}</h2>
                <i>_______________________________</i>
                <p>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner4_desc' }}" >{{ read_text('mlb_banner4_desc') }}</span>
                {% else %}
                {{ read_text('mlb_banner4_desc') }}
                {% end %}</p>
                <!-- <h1>$ 9.000</h1> -->
                <a href="{{ site_base }}?tag=andino"><button type="button" class="btn">conocer</button></a>
            </div>
        <!-- </a> -->
    </div>
</div>
<!-- row momentanea -->
<div class="row cat-index-largo">
    <div class="col-sm-12 especial">
        <!-- <a href=""> -->
            {% if is_admin %}
                <!-- banner 1 -->
                <div class="image-upload">
                <!-- id input debe ir en for de label -->
                    <label for="img_banner_5">
                        <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="mlb_banner_5" name="image" id="img_banner_5" >
                </div>
                <!-- banner 2 -->
                <div class="image-upload">
                <!-- id input debe ir en for de label -->
                    <label for="img_banner_5a">
                        <img class="change-image hide-show" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="mlb_banner_5a" name="image" id="img_banner_5a" >
                </div>
            {% end %}
            <div>
            <img id="mlb_banner_5" class="img-responsive show-hide" src="{{ read_image(site.name + '_banner_5') }}" />
            <img id="mlb_banner_5a" class="img-responsive hide-show" src="{{ read_image(site.name + '_banner_5a') }}" /> 
            </div>
<!--             <img src="{{ site_base }}/static/img/mlb_005.png" class="img-responsive show-hide" alt="item">
            <img src="{{ site_base }}/static/img/mlb_005a.png" class="img-responsive hide-show" alt="item"> -->
            <div class="info-product banner-secundario color-white">
                <h2>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner5_tit' }}" >{{ read_text('mlb_banner5_tit') }}</span>
                {% else %}
                {{ read_text('mlb_banner5_tit') }}
                {% end %}</h2>
                <i>_______________________________</i>
                <p>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner5_desc' }}" >{{ read_text('mlb_banner5_desc') }}</span>
                {% else %}
                {{ read_text('mlb_banner5_desc') }}
                {% end %}</p>
                <a href="{{ site_base }}?tag=pieceras"><button type="button" class="btn">conocer</button></a>
            </div>
        <!-- </a> -->
    </div>
</div>

<div class="row cat-index-end">
    <div class="col-sm-6 especial">
        <!-- <a href=""> -->
            {% if is_admin %}
                <!-- banner 1 -->
                <div class="image-upload">
                <!-- id input debe ir en for de label -->
                    <label for="img_banner_6">
                        <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="mlb_banner_6" name="image" id="img_banner_6" >
                </div>
                <!-- banner 2 -->
                <div class="image-upload">
                <!-- id input debe ir en for de label -->
                    <label for="img_banner_6a">
                        <img class="change-image hide-show" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="mlb_banner_6a" name="image" id="img_banner_6a" >
                </div>
            {% end %}
            <div>
                <img id="mlb_banner_6" class="img-responsive show-hide mlb-img" src="{{ read_image(site.name + '_banner_6') }}" />
                <img id="mlb_banner_6a" class="img-responsive hide-show mlb-img" src="{{ read_image(site.name + '_banner_6a') }}" />
            </div>
<!--             <img src="{{ site_base }}/static/img/mlb_006.png" class="img-responsive show-hide" alt="item">
            <img src="{{ site_base }}/static/img/mlb_006a.png" class="img-responsive hide-show" alt="item"> -->
            <div class="info-product">
                <h2>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner6_tit' }}" >{{ read_text('mlb_banner6_tit') }}</span>
                {% else %}
                {{ read_text('mlb_banner6_tit') }}
                {% end %}</h2>
                <i>_______________________________</i>
                <p>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner6_desc' }}" >{{ read_text('mlb_banner6_desc') }}</span>
                {% else %}
                {{ read_text('mlb_banner6_desc') }}
                {% end %}</p>
                <a href="{{ site_base }}?tag=cojines"><button type="button" class="btn">conocer</button></a>
            </div>
        <!-- </a> -->
    </div>
    <div class="col-sm-6 especial">
        <!-- <a href=""> -->
            {% if is_admin %}
                <!-- banner 1 -->
                <div class="image-upload">
                <!-- id input debe ir en for de label -->
                    <label for="img_banner_7">
                        <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="mlb_banner_7" name="image" id="img_banner_7" >
                </div>
                <!-- banner 2 -->
                <div class="image-upload">
                <!-- id input debe ir en for de label -->
                    <label for="img_banner_7a">
                        <img class="change-image hide-show" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="mlb_banner_7a" name="image" id="img_banner_7a" >
                </div>
            {% end %}
            <div>
                <img id="mlb_banner_7" class="img-responsive show-hide mlb-img" src="{{ read_image(site.name + '_banner_7') }}" />
                <img id="mlb_banner_7a" class="img-responsive hide-show mlb-img" src="{{ read_image(site.name + '_banner_7a') }}" />
            </div>
            <!-- <img src="{{ site_base }}/static/img/mlb_007.png" class="img-responsive show-hide" alt="item">
            <img src="{{ site_base }}/static/img/mlb_007a.png" class="img-responsive hide-show" alt="item"> -->
            <div class="info-article">
                <h2>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner7_tit' }}" >{{ read_text('mlb_banner7_tit') }}</span>
                {% else %}
                {{ read_text('mlb_banner7_tit') }}
                {% end %}</h2>
                <p>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_banner7_desc' }}" >{{ read_text('mlb_banner7_desc') }}</span>
                {% else %}
                {{ read_text('mlb_banner7_desc') }}
                {% end %}</p>
                <a href="{{ site_base }}/aboutus"><button type="button" class="btn">conocer</button></a>
            </div>
        <!-- </a> -->
    </div>
</div>
<div class="row">
    <ul class="col-sm-12 nav-list text-center effect menu-3 container-fluid-magle">
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><p>___________</p></li>
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><h1>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_product_tit' }}" >{{ read_text('mlb_product_tit') }}</span>
                {% else %}
                {{ read_text('mlb_product_tit') }}
                {% end %}</h1></li>
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><h1>{% if is_admin %}
                <span class="editabletext" text-id="{{ 'mlb_product_desc' }}" >{{ read_text('mlb_product_desc') }}</span>
                {% else %}
                {{ read_text('mlb_product_desc') }}
                {% end %}</h1></li>
    </ul>
</div>
{% end %}

{% if tag!=False %}
    {% if tag=='urbano' %}
    <div class="productlist">
        <div class="row">
            <div class="col-sm-12 especial mlb-aboutus-header">
                <h2>{{ tag.upper()}}</h2>
                <div class="col-sm-12 especial bkg"></div>
                {% if is_admin %}
                <!-- banner 1 -->
                <div class="image-upload" style="right:50px;">
                    <!-- id input debe ir en for de label -->
                    <label for="img_banner_living">
                        <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';" >
                    </label>
                    <input type="file" class="editableimage" image-id="mlb_banner_living" name="image" id="img_banner_living" >
                </div>
                <!-- banner 2 -->
                <div class="image-upload" style="right:50px;">
                    <!-- id input debe ir en for de label -->
                    <label for="img_banner_living_a">
                        <img class="change-image hide-show" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="mlb_banner_living_a" name="image" id="img_banner_living_a" >
                </div>
                {% end %}
                <div>
                <img id="mlb_banner_living" class="img-responsive show-hide" src="{{ read_image(site.name + '_banner_living') }}" />
                <img id="mlb_banner_living_a" class="img-responsive hide-show" src="{{ read_image(site.name + '_banner_living_a') }}" />
                </div>
        <!--                         <img class="img-responsive show-hide"src="{{ site_base }}/static/img/mlb-aboutus-header.png">
        <img class="img-responsive hide-show"src="{{ site_base }}/static/img/mlb-aboutus-headera.png"> -->
            </div>
        </div>
    </div>
    <div class="widget col-sm-12 especial profile-company">
            <div class="col-sm-12 especial profile-foto-top">       
                    <div class="profile-company-logo">
                        <img src="{{ read_image(site.name + '_banner_living') }}" alt="item">                   
                    </div>
            </div>  
    </div>

    <div class="row" style="margin-top: 40px;">
    <ul class="nav-list text-center effect menu-3 container-fluid-magle">
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><p>___________</p></li>
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><h1>
            {% if is_admin %}
                <span class="editabletext" text-id="mlb-urbano-title" >{{ read_text('mlb-urbano-title') }}</span>
            {% else %}
                <span>{{ read_text('mlb-urbano-title') }}</span>
            {% end %}
            </h1></li>
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><h1>     
            {% if is_admin %}
                <span class="editabletext" text-id="mlb-urbano-desc" >{{ read_text('mlb-urbano-desc') }}</span>
            {% else %}
                <span>{{ read_text('mlb-urbano-desc') }}</span>
            {% end %}
            </h1></li>
    </ul>
</div>

    {% end %}
{% if tag=='andino' %}

<div class="productlist">
    <div class="row">
        <div class="col-sm-12 especial mlb-aboutus-header">
            <h2>{{ tag.upper()}}</h2>
            <div class="col-sm-12 especial bkg"></div>
            {% if is_admin %}
            <!-- banner 1 -->
            <div class="image-upload" style="right:50px;">
                <!-- id input debe ir en for de label -->
                <label for="img_banner_dinner">
                    <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';" >
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_dinner" name="image" id="img_banner_dinner" >
            </div>
            <!-- banner 2 -->
            <div class="image-upload" style="right:50px;">
                <!-- id input debe ir en for de label -->
                <label for="img_banner_dinner_a">
                    <img class="change-image hide-show" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_dinner_a" name="image" id="img_banner_dinner_a" >
            </div>
            {% end %}
            <img id="mlb_banner_dinner" class="img-responsive show-hide mlb-img" src="{{ read_image(site.name + '_banner_dinner') }}" />
            <img id="mlb_banner_dinner_a" class="img-responsive hide-show mlb-img" src="{{ read_image(site.name + '_banner_dinner_a') }}" />
    <!--                         <img class="img-responsive show-hide"src="{{ site_base }}/static/img/mlb-aboutus-header.png">
    <img class="img-responsive hide-show"src="{{ site_base }}/static/img/mlb-aboutus-headera.png"> -->
        </div>
    </div>
</div>
<div class="widget col-sm-12 especial profile-company">
        <div class="col-sm-12 especial profile-foto-top">       
                <div class="profile-company-logo">
                    <img class="mlb-img" src="{{ read_image(site.name + '_banner_dinner') }}" alt="item">                      
                </div>
        </div>  
</div>

<div class="row" style="margin-top: 40px;">
    <ul class="nav-list text-center effect menu-3 container-fluid-magle">
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><p>___________</p></li>
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><h1>
            {% if is_admin %}
                <span class="editabletext" text-id="mlb-andino-title" >{{ read_text('mlb-andino-title') }}</span>
            {% else %}
                <span>{{ read_text('mlb-andino-title') }}</span>
            {% end %}</h1></li>
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><h1>
            {% if is_admin %}
                <span class="editabletext" text-id="mlb-andino-desc" >{{ read_text('mlb-andino-desc') }}</span>
            {% else %}
                <span>{{ read_text('mlb-andino-desc') }}</span>
            {% end %}</h1></li>
    </ul>
</div>

{% end %}   

{% if tag=='fusion' %}

<div class="productlist">
    <div class="row">
        <div class="col-sm-12 especial mlb-aboutus-header">
            <h2>{{ tag.upper()}}</h2>
            <div class="col-sm-12 especial bkg"></div>
            {% if is_admin %}
            <!-- banner 1 -->
            <div class="image-upload" style="right:50px;">
                <!-- id input debe ir en for de label -->
                <label for="img_banner_kitchen">
                    <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';" >
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_kitchen" name="image" id="img_banner_kitchen" >
            </div>
            <!-- banner 2 -->
            <div class="image-upload" style="right:50px;">
                <!-- id input debe ir en for de label -->
                <label for="img_banner_kitchen_a">
                    <img class="change-image hide-show" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_kitchen_a" name="image" id="img_banner_kitchen_a" >
            </div>
            {% end %}
            <img id="mlb_banner_kitchen" class="img-responsive show-hide mlb-img" src="{{ read_image(site.name + '_banner_kitchen') }}" />
            <img id="mlb_banner_kitchen_a" class="img-responsive hide-show mlb-img" src="{{ read_image(site.name + '_banner_kitchen_a') }}" />
    <!--                         <img class="img-responsive show-hide"src="{{ site_base }}/static/img/mlb-aboutus-header.png">
    <img class="img-responsive hide-show"src="{{ site_base }}/static/img/mlb-aboutus-headera.png"> -->
        </div>
    </div>
</div>
<div class="widget col-sm-12 especial profile-company">
        <div class="col-sm-12 especial profile-foto-top">       
                <div class="profile-company-logo">
                    <img src="{{ read_image(site.name + '_banner_kitchen') }}" alt="item">                      
                </div>
        </div>  
</div>

<div class="row" style="margin-top: 40px;">
    <ul class="nav-list text-center effect menu-3 container-fluid-magle">
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><p>___________</p></li>
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><h1>
            {% if is_admin %}
                <span class="editabletext" text-id="mlb-fusion-title" >{{ read_text('mlb-fusion-title') }}</span>
            {% else %}
                <span>{{ read_text('mlb-fusion-title') }}</span>
            {% end %}
        </h1></li>
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><h1>
            {% if is_admin %}
                <span class="editabletext" text-id="mlb-fusion-desc" >{{ read_text('mlb-fusion-desc') }}</span>
            {% else %}
                <span>{{ read_text('mlb-fusion-desc') }}</span>
            {% end %}</h1></li>
    </ul>
</div>

{% end %}  

{% if tag=='cojines' %}

<div class="productlist">
    <div class="row">
        <div class="col-sm-12 especial mlb-aboutus-header">
            <h2>{{ tag.upper()}}</h2>
            <div class="col-sm-12 especial bkg"></div>
            {% if is_admin %}
            <!-- banner 1 -->
            <div class="image-upload" style="right:50px;">
                <!-- id input debe ir en for de label -->
                <label for="img_banner_bedroom">
                    <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';" >
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_bedroom" name="image" id="img_banner_bedroom" >
            </div>
            <!-- banner 2 -->
            <div class="image-upload" style="right:50px;">
                <!-- id input debe ir en for de label -->
                <label for="img_banner_bedroom_a">
                    <img class="change-image hide-show" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_bedroom_a" name="image" id="img_banner_bedroom_a" >
            </div>
            {% end %}
            <img id="mlb_banner_bedroom" class="img-responsive show-hide mlb-img" src="{{ read_image(site.name + '_banner_bedroom') }}" />
            <img id="mlb_banner_bedroom_a" class="img-responsive hide-show mlb-img" src="{{ read_image(site.name + '_banner_bedroom_a') }}" />
    <!--                         <img class="img-responsive show-hide"src="{{ site_base }}/static/img/mlb-aboutus-header.png">
    <img class="img-responsive hide-show"src="{{ site_base }}/static/img/mlb-aboutus-headera.png"> -->
        </div>
    </div>
</div>
<div class="widget col-sm-12 especial profile-company">
        <div class="col-sm-12 especial profile-foto-top">       
                <div class="profile-company-logo">
                    <img src="{{ read_image(site.name + '_banner_bedroom') }}" alt="item">                      
                </div>
        </div>  
</div>

<div class="row" style="margin-top: 40px;">
    <ul class="nav-list text-center effect menu-3 container-fluid-magle">
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><p>___________</p></li>
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><h1>
            {% if is_admin %}
                <span class="editabletext" text-id="mlb-cojines-title" >{{ read_text('mlb-cojines-title') }}</span>
            {% else %}
                <span>{{ read_text('mlb-cojines-title') }}</span>
            {% end %}
        </h1></li>
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><h1>
            {% if is_admin %}
                <span class="editabletext" text-id="mlb-cojines-desc" >{{ read_text('mlb-cojines-desc') }}</span>
            {% else %}
                <span>{{ read_text('mlb-cojines-desc') }}</span>
            {% end %}</h1></li>
    </ul>
</div>

{% end %}


{% if tag=='pieceras' %}

<div class="productlist">
    <div class="row">
        <div class="col-sm-12 especial mlb-aboutus-header">
            <h2>{{ tag.upper()}}</h2>
            <div class="col-sm-12 especial bkg"></div>
            {% if is_admin %}
            <!-- banner 1 -->
            <div class="image-upload" style="right:50px;">
                <!-- id input debe ir en for de label -->
                <label for="img_banner_piecera">
                    <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';" >
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_piecera" name="image" id="img_banner_piecera" >
            </div>
            <!-- banner 2 -->
            <div class="image-upload" style="right:50px;">
                <!-- id input debe ir en for de label -->
                <label for="img_banner_piecera_a">
                    <img class="change-image hide-show" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_piecera_a" name="image" id="img_banner_piecera_a" >
            </div>
            {% end %}
            <img id="mlb_banner_piecera" class="img-responsive show-hide mlb-img" src="{{ read_image(site.name + '_banner_piecera') }}" />
            <img id="mlb_banner_piecera_a" class="img-responsive hide-show mlb-img" src="{{ read_image(site.name + '_banner_piecera_a') }}" />
    <!--                         <img class="img-responsive show-hide"src="{{ site_base }}/static/img/mlb-aboutus-header.png">
    <img class="img-responsive hide-show"src="{{ site_base }}/static/img/mlb-aboutus-headera.png"> -->
        </div>
    </div>
</div>
<div class="widget col-sm-12 especial profile-company">
        <div class="col-sm-12 especial profile-foto-top">       
                <div class="profile-company-logo">
                    <img src="{{ read_image(site.name + '_banner_piecera') }}" alt="item">                      
                </div>
        </div>  
</div>

<div class="row" style="margin-top: 40px;">
    <ul class="nav-list text-center effect menu-3 container-fluid-magle">
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><p>___________</p></li>
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><h1>
            {% if is_admin %}
                <span class="editabletext" text-id="mlb-pieceras-title" >{{ read_text('mlb-pieceras-title') }}</span>
            {% else %}
                <span>{{ read_text('mlb-pieceras-title') }}</span>
            {% end %}</h1></li>
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><h1>
            {% if is_admin %}
                <span class="editabletext" text-id="mlb-pieceras-desc" >{{ read_text('mlb-pieceras-desc') }}</span>
            {% else %}
                <span>{{ read_text('mlb-pieceras-desc') }}</span>
            {% end %}</h1></li>
    </ul>
</div>

{% end %}


{% if tag=='revisteros' %}

<div class="productlist">
    <div class="row">
        <div class="col-sm-12 especial mlb-aboutus-header">
            <h2>{{ tag.upper()}}</h2>
            <div class="col-sm-12 especial bkg"></div>
            {% if is_admin %}
            <!-- banner 1 -->
            <div class="image-upload" style="right:50px;">
                <!-- id input debe ir en for de label -->
                <label for="img_banner_revistero">
                    <img class="change-image" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';" >
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_revistero" name="image" id="img_banner_revistero" >
            </div>
            <!-- banner 2 -->
            <div class="image-upload" style="right:50px;">
                <!-- id input debe ir en for de label -->
                <label for="img_banner_revistero_a">
                    <img class="change-image hide-show" src="{{ site_base }}/static/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/static/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/static/img/btn-edit.png';">
                </label>
                <input type="file" class="editableimage" image-id="mlb_banner_revistero_a" name="image" id="img_banner_revistero_a" >
            </div>
            {% end %}
            <img id="mlb_banner_revistero" class="img-responsive show-hide mlb-img" src="{{ read_image(site.name + '_banner_revistero') }}" />
            <img id="mlb_banner_revistero_a" class="img-responsive hide-show mlb-img" src="{{ read_image(site.name + '_banner_revistero_a') }}" />
    <!--                         <img class="img-responsive show-hide"src="{{ site_base }}/static/img/mlb-aboutus-header.png">
    <img class="img-responsive hide-show"src="{{ site_base }}/static/img/mlb-aboutus-headera.png"> -->
        </div>
    </div>
</div>
<div class="widget col-sm-12 especial profile-company">
        <div class="col-sm-12 especial profile-foto-top">       
                <div class="profile-company-logo">
                    <img src="{{ read_image(site.name + '_banner_revistero') }}" alt="item">                      
                </div>
        </div>  
</div>

<div class="row" style="margin-top: 40px;">
    <ul class="nav-list text-center effect menu-3 container-fluid-magle">
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><p>___________</p></li>
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><h1>
            {% if is_admin %}
                <span class="editabletext" text-id="mlb-revisteros-title" >{{ read_text('mlb-revisteros-title') }}</span>
            {% else %}
                <span>{{ read_text('mlb-revisteros-title') }}</span>
            {% end %}</h1></li>
        <li style="width: 100% !important; text-align: center; color: black; text-transform: uppercase;" ><h1>
            {% if is_admin %}
                <span class="editabletext" text-id="mlb-revisteros-desc" >{{ read_text('mlb-revisteros-desc') }}</span>
            {% else %}
                <span>{{ read_text('mlb-revisteros-desc') }}</span>
            {% end %}</h1></li>
    </ul>
</div>

{% end %}

{% end %}

<!-- row momentanea -->
<div class="row container-fluid-magle products" style="margin-top: 40px;">
</div>
<!-- row momentanea -->

