<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- head bt inicio -->
        <title>TIKA - Chips Artesanais, 100% Narutal fabricados no Chile</title>
        <base href="{{ site_base }}/">
        <meta charset="utf-8">
        <meta name="description" content="description">
        <meta name="author" content="loadingplay.com">
        <meta name="viewport" content="width=430px, user-scalable=no" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css?25">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300,400,600,600,700,700,800,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bower/bodegas.client/dist/bodegas.client.css?25">
        <link rel="stylesheet" href="{{ site_base }}/common/css/editableimage.css?25">
        
        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{nocache_static}}/css/style.css?25">

        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{nocache_static}}/css/banner_grande.css?25">

        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{nocache_static}}/css/footer.css?25">

        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{nocache_static}}/css/header.css?25">

        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{nocache_static}}/css/infografia_home.css?25">

        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{nocache_static}}/css/vitrina_productos_home.css?25">

        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{nocache_static}}/css/mapa_home.css?25">

        <link rel="stylesheet" type="text/css" href="{{ site_base }}/static/js/fancybox/source/jquery.fancybox.css?25?v=2.1.5" media="screen" />

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.css?25"/>

        
        {% block css %}{% end %}

        {% include 'product/product_box.html' %}
        {% include 'product/recipe_box.html' %}
        {% include 'product/related_box.html' %}

    </head>

        <div id="main-nav-fixed-navigation" class="fixed-menu">

            <div class="top_wrapper">
              <div class="fondoo_inside">
                  <div class="head-container">
                   <div class="container"> 
                      <div class="row linea">
                        <div class="logo_wrapper col-md-3 col-sm-4 col-xs-12">
                            <a href="{{ site_base }}">
                                <img class="tikaa" src="https://7static.loadingplay.com/static/images/78562c3e6cb2afdaf23054c61683dfb2_Tika_icon.png" style="width: 30%">
                            </a>
                        </div>
                        <div class="menu_wrapper men-t col-md-9 col-sm-8 col-xs-12">
                            <div class="row">
                                <nav class="navbar navbar-default navbar-transparent">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="collapse navbar-collapse opac" id="bs-example-navbar-collapse-2">

                                        <ul class="nav navbar-nav navbar-left nav-header-li-hover gran2" style="letter-spacing: -1px;">                               
                                            <li>
                                                <a href="{{ site_base }}/nuestra_historia" class="colorr">NUESTRA HISTORIA</a>
                                            </li>
                                        <li class="dropdown">
                                            <a href="{{ site_base }}/productos" class="colorr" data-toggle="dropdown" class="dropdown-toggle"  >PRODUCTOS <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ site_base }}/productos#tika_chip">Tika Chips</a></li>
                                                <li><a href="{{ site_base }}/productos#tika_stixs">Tika Stixs</a></li>
                                                <li><a href="{{ site_base }}/productos#tika_tortikas">Tortika Chips</a></li>
                                                <li><a href="{{ site_base }}/productos#tika_crackers">Tika Crackers</a></li>
                                                <li><a href="{{ site_base }}/productos#tika_nuts">Tika Nuts</a></li>
                                                <li><a href="{{ site_base }}/productos#tika_veggies">Tika Veggies</a></li>
                                                <li><a href="{{ site_base }}/productos#tika_nativa">Tika Nativa</a></li>
                                                <li><a href="{{ site_base }}/productos">Ver todo</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="{{ site_base }}/donde_comprar" class="colorr"> DONDE COMPRAR</a>
                                        </li>
                                        <li><a href="{{ site_base }}/tika_en_el_mundo" class="colorr"> TIKA EN EL MUNDO</a></li>
                                        <li class="dropdown">
                                            <a href="{{ site_base }}/recetas" class="colorr" data-toggle="dropdown" class="dropdown-toggle"  >RECETIKAS <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ site_base }}/recetas#recetas_dips">Recetas de Dips</a></li>
                                                <li>
                                                    <li><a href="{{ site_base }}/recetas#recetas_mastikas">Recetas de MasTika</a></li>
                                                    <li><a href="{{ site_base }}/
                                                        recetas#recetas_nuts">Recetas de Nuts</a></li>
                                                        <li><a href="{{ site_base }}/recetas#otras_recetas">Otras Recetas</a></li>
                                                        <li><a href="{{ site_base }}/recetas">Ver todo</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="http://tikachile.blogspot.cl/" target="_blank"  class="colorr"> BLOG </a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="{{ site_base }}/" class="colorr" data-toggle="dropdown" class="dropdown-toggle"  >IDIOMAS <b class="caret"></b>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="http://es.tikachips.com/">Español</a></li>
                                                        <li><a href="http://en.tikachips.com">Inglés</a></li>
                                                        <li><a href="http://fr.tikachips.com">Francés</a></li>
                                                        <li><a href="http://pt.tikachips.com/">Portugués</a></li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        {% block header %}{% end %}

        {% block body %}
        <body id="home">
        {% end %}

        <script type="text/javascript">
        var site_base = "{{ site_base }}"
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>


        <script type="text/javascript" src="{{ site_base }}/static/js/main.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{{ site_base }}/common/js/jquery.editable.js" ></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/editabletext.js"></script>
        <!-- {%!  end %} -->
        <script type="text/javascript" src="{{ site_base }}/common/js/page_editable.js"></script>

        <script type="text/javascript" src="{{ site_base }}/common/js/editableimage.js"></script>


                <!-- carga de productos -->
<!--          <script type="text/javascript" src="{{ site_base }}/static/js/plugins/jquery.lazyload.js"></script> -->
        <!-- <script type="text/javascript" src="{{ site_base }}/static/js/imageloader.js" ></script> -->

        <script type="text/javascript" src="{{ site_base }}/common/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/bower/bodegas.client/dist/bodegas.client.js"></script>
<!--         // <script type="text/javascript" src="{{ site_base }}/static/js/fancybox/jquery.fancybox.pack.js"></script> -->
        <script type="text/javascript" src="{{ site_base }}/static/js/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>

        <script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

        <script type="text/javascript" src="{{ site_base }}/static/js/jquery.ellipsis.js"></script>

        <script type="text/javascript" src="{{ site_base }}/common/js/parallax.min.js"></script>

        <script type="text/javascript" src="{{ site_base }}/static/js/header.js"></script>

<!--         <div type="template" id="product_loading" style="display:none;" >
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div> -->

        <script type="text/javascript">
            $(document).ready(function () {
                    /* This is basic - uses default settings */
                $(".fancybox").fancybox({
                    'width':400,
                    'height':400,
                    'autoSize' : false,
                    'autoScale': false,
                    'padding': 0,
                    'helpers': {
                            overlay: {
                                locked: false
                            }
                        }
                });
            });
        </script>

        {% block javascript %}{% end %}
        <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '348231912006000',
                xfbml: true,
                version: 'v2.1'
            });
        };
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>

        {% if is_admin %}
        <script type="text/javascript">
        var site_name="{{site.name}}";
        </script>
        <script type="text/javascript" src="{{ site_base }}/common/js/contentmanager.js" ></script>
        {% end %}

        <script>
            $(document).ajaxComplete(function()
            {
                var hash = window.location.hash;
                // window.location.href= hash;
                
                if (hash !== "") 
                {
                    $('html,body').animate({
                        scrollTop: $(hash).offset().top
                    });
                }
            });
        </script>
    </body>
</html>
