{% extends "../base.html" %}
{% block title %}
    {{ site.name }}
{% end %}
{% block scripts %}
    <script type="text/javascript" src="{{ site_base }}/static/js/plugins/jquery.lazyload.js"></script>
    <script type="text/javascript" src="{{ site_base }}/static/js/imageloader.js" ></script>
{% end %}
{% block header %}
{% include '../home/inside_header.html' %}
{% end %}
{% block body %}
    <div id="wrap">
        <!-- registration -->
        <div class="container-fluid-art cart-list productlist">
            <div class="row">
                <div class="col-sm-12 blog-content">
                        <header>
                            <h1 class="h1-art">
                                {{ article["title"] }}
                            </h1>
                            <div class="post-date" style="text-align:left;">
                                {{ article["creation_date"].strftime("%d %b %Y") }} 
                            </div>º
                        </header>
                        
                        <div class="content articulo-text" style="text-align:left;">
                            <div class="col-sm-8 content-picture">
                                <img src="{{ site_base }}/static/img/0013.png" class="img-responsive lazy" data-original="{{ article["url"] }}" alt="item">
                            </div>
                            <div class="col-sm-4 especial">
                                <h2 class="h2-art">"{{ article["caption"] }}"
                                <!-- <p>___________</p> -->
                                </h2>
                            </div>
                           <!--  <div class="col-sm-12 especial"> -->
                           <div class="col-sm-12 especial">
                                <p class="p-art">
                                    {{ article["description"] }}
                                </p>
                            </div>
                            <!-- </div> -->
                            <div class="col-sm-12 especial p-art" style="text-align: right;">
                                <a href="#!"> Ver mas...</a>
                            </div>
                            <div class="post-date col-sm-12 p-art ">
                                tags | <a>{{ "</a> , <a>".join(article["tags"]) }}</a>
                            </div>
                        </div>
                </div>
                <div class="col-sm-3 blog-sidebar">
                    <div class="widget" style="text-align:left;">
                    </div>
                </div>
            </div>
            <article>
                <header>
                    <h1 class="h1-art" >Contenido relacionados</h1>
                </header>
            </article>
            {{ content }}
            <!-- row 4 -->
        </div>
        <div class="carritoproductos clearfix">
            <div class="flecha clearfix">
            </div>
        </div>
    </div>
{% end %}